---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
   <font size="+1"> <font color="red"> Komunikácia prebieha cez MS Teams. Prihláste sa na záklde mailu, ktorý ste dostali. KTO MAIL NEDOSTAL, NAPÍŠTE MI! Od 20.3 je zahájená distačná výuka. Dochádzka sa rieši mini úlohami.
Online streaming cvičení neplánujem. <br style = “line-height:300px;”> </font> </font> 

  {%- if site.posts.size > 0 -%}
    <!--h2 class="post-list-heading">{{ page.list_title | default: "Materiály k cvičeniam" }}</h2-->
    <ul class="post-list">
      {%- for post in site.posts reversed -%}
      <li>
   <!--     {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
-->     
   <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

   <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
-->  
{%- endif -%}

</div>
